
*.cvt
*.single
*.dev
*.new
*.train
*.data-00000-of-00001
*.index
results/dependency_parsing/checkpoint/best/checkpoint
*.meta
*.comput1
*.eval0
results/dependency_parsing/checkpoint/checkpoint
*.npy
*.dict
data/embedding/glove.840B.300d.zip
data/embedding/glove.840B.300d.txt
word.dict.emb
*.300d
*.300d
*.300d
data/EMNLP.test
results/semantic_parsing/checkpoint/checkpoint
*.output
results/semantic_parsing/checkpoint/checkpoint
